<%= form_for(@deleteme) do |f| %>
  <% if @deleteme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deleteme.errors.count, "error") %> prohibited this deleteme from being saved:</h2>

      <ul>
      <% @deleteme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
