<h1>New job listing</h1>

<%= form_for(@job_listing) do |f| %>
   
   <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  
  <div class="field">
    <%= f.label :company %><br />
    <%= f.text_field :company %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
