<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @job_listing.title %>
</p>

<p>
  <b>Company:</b>
  <%= @job_listing.company %>
</p>

<p>
  <b>Description:</b>
  <%= @job_listing.description %>
</p>


<%= link_to 'Edit', edit_job_listing_path(@job_listing) %> |
<%= link_to 'Back', job_listings_path %>
